@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body, html{
    background-color: darkgray;
}
header{
    background-color: black;
    text-align: center;
    color: white;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding: 10vh 0vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(102, 101, 101);
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.637);
    width: 300px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
